html {
  background-color: #c9b5ab;
  font-style: italic;
  font-weight: bold;
  line-height: 1.5rem;
}

body {
  font-size: 1.5rem;
  color: #8f2440;
}

figcaption {
  color: #222;
}

p{
  color: #3f1622;
}
